/*
 * Globals
 */

*{
    margin: 0px;
    padding: 0px;
}

body {
  color: #555;
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

.gambar-berita {
  width: 90px;
  height: 90px;
}

.navbar {
  background-color: rgb(156, 29, 136);
  color: #fff;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.nav {
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-transform: uppercase;
}


/*
 * Masthead for nav
 */

.sasambo-masthead {
  background-color: rgb(156, 29, 136);
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.sasambo-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.sasambo-nav-item:hover,
.sasambo-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.nav .active {
  color: #fff;
}
.nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

.thumbnail-atas {
  z-index: 1;
  height: 500px;
  padding: 5px;
  margin: 5px;
  margin-top: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.thumbnail-samping {
  z-index: 1;
  height: 248px;
  padding: 5px;
  margin: 5px;
  margin-top: 5px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.thumbnail-story-bawah {
  z-index: 1;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.overlay {
    width: 100%;
    height: 500px;
    background: rgba(0,0,0,.1);
}

.overlay-samping {
    width: 100%;
    height: 250px;
    background: rgba(0,0,0,.1);
}

.page-title {
    position: absolute;
    text-align: left;
    left: 6%;
    bottom: 8%;
    width: 100%;
}

.page-title p {
  color: white;
  text-transform: uppercase;

}

.page-title-samping {
    position: absolute;
    text-align: left;
    left: 6%;
    bottom: 6%;
    width: 100%;
}

.page-title-samping p {
  color: white;
  text-transform: uppercase;

}

.judul {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.judul:hover {
  font-weight: bold;
  font-size: 20px;
  color: rgb(233, 247, 34);
  text-decoration: none
}

.judul-samping:hover {
  font-weight: bold;
  font-size: 16px;
  color: rgb(233, 247, 34);
  text-decoration: none;
}

.judul-samping1:hover {
  font-weight: bold;
  font-size: 16px;
  color: rgb(233, 247, 34);
  text-decoration: none;
}

.judul-samping {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.page-title-samping1 {
    position: absolute;
    text-align: left;
    left: 6%;
    bottom: 55%;
    width: 100%;
}

.page-title-samping1 p {
  color: white;
  text-transform: uppercase;

}

.judul-samping1 {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.sectionsatu {
  padding: 45px;
}

.sc1 {
  font-family: 'Roboto', serif;
  margin-top: 15px;
  padding-right: 5px;
  padding-left: 5px;
}

.kategori-label a {
  font-family: 'Montserrat', sans-serif;
  background-color: #363636;
  color: #fff;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.thumbnail-hangat {
  z-index: 1;
  height: 600px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-title-hangat {
    position: absolute;
    text-align: left;
    color: #fff;
    left: 6%;
    bottom: 6%;
    width: 100%;
}

.judul-hangat {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.judul-hangat:hover {
  font-weight: bold;
  font-size: 18px;
  color: rgb(233, 247, 34);
  text-decoration: none
}

.overlay-hangat {
    width: 100%;
    height: 600px;
    background: rgba(0,0,0,.1);
}

.media-body a {
  text-decoration: none;
  color: #363636;
  font-size: 18px;
}

.media-body a:hover {
  text-decoration: none;
  color: rgb(4, 144, 214);
  font-size: 18px;
}

.iklan {
  text-align: center;
  height: 250px;
  background-color: rgb(226, 226, 226);
  color: #363636;
}

.sasambo-footer {
  text-align: center;
  padding: 30px;
  background-color: rgb(70, 21, 68);
  color: #fff;
}

.sasambo-footer a {
  color: #fff;
  text-decoration: none;
}

/* PARIWISATA */
/* PARIWISATA */
/* PARIWISATA */
/* PARIWISATA */
/* PARIWISATA */

.thumbnail-kategori-utama {
  z-index: 1;
  height: 250px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
}

.page-title-kategori-utama {
    position: absolute;
    left: 4%;
    bottom: 65%;
    color: #fff;
    padding-top: 5px;
    width: 80%;
}

.judul-kategori-utama {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.judul-kategori-utama:hover {
  font-weight: bold;
  font-size: 16px;
  color: #E9F722;
  text-decoration: none
}

.overlay-kategori-utama {
    position: relative;
    width: 100%;
    height: 250px;
    background: rgba(0,0,0,.1);
}

.kategori-container {
  
}

.sc1-kat {
  height: 350px;
  background-color: #ededed;
  color: #fff;
  text-align: center;
}

.sc1-kat h1 {
  position: relative;
  top: 20%;
}

.sc2-kat {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.sc2-kat-row {
  margin-bottom: 25px;
}

.rm-button-kat {
  padding: 15px;
  background-color: rgb(196, 33, 33);  
  color: #fff;
  text-decoration: none;
}

.rm-button-kat:hover {
  text-decoration: none;
  background-color: rgb(175, 21, 21);
  color: #fff;
}

.sc3-kat {
  margin-left: 0;
  margin-right: 0;
  margin-top: 50px;
  background-color: #ebebeb;
}

.sc3-kat h3 {
  text-transform: uppercase;
}

.sc3-kat-row {
  
}

.sc3-kat-row-1 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ebebeb;
}

.thumbnail-sc3-kat {
  z-index: 1;
  height: 300px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.judul-thumbnail-sc3-kat {
  margin-bottom: 50px;
}

.judul-thumbnail-text a {
  text-decoration: none;
  text-transform: none;
  color: rgb(0, 0, 0);
}

.judul-thumbnail-text a:hover {
  text-decoration: none;
  text-transform: none;
  color: rgb(10, 10, 10);
}

.thumbnail-kategori {
  z-index: 1;
  height: 250px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-title-kategori {
    text-align: left;
    color: rgb(20, 20, 20);
    padding-top: 5px;
    width: 80%;
}

.judul-kategori {
  font-weight: bold;
  font-size: 16px;
  color: rgb(20, 20, 20);
}

.judul-kategori:hover {
  font-weight: bold;
  font-size: 16px;
  color: rgb(20, 20, 20);
  text-decoration: none
}

.overlay-kategori {
    width: 100%;
    height: 250px;
    background: rgba(0,0,0,.1);
}

.list-populer {
  margin-bottom: 40px;
}

.media-object-populer {
  width: 50px;
}

.garis-merah {
  background-color: rgb(174, 24, 18);
  margin: 10px;
  margin-left: 0;
  margin-bottom: 5px;
  height: 3px;
  width: 100px;
}

.author-name a {
  text-decoration: none;
  text-transform: none;
  color: rgb(174, 24, 18);
}

.author-name a:hover {
  text-decoration: none;
  text-transform: none;
  color: #BF0B0B;
}

.upload-time a {
  text-decoration: none;
  text-transform: none;
  color: rgb(20, 20, 20);
}

.upload-time a:hover {
  text-decoration: none;
  text-transform: none;
  color: rgb(30, 30, 30);
}

/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/
/***** Kategori ********/


.judul-kategori {
  margin-top: 30px;
  text-align: center;
}

#sc1-pariwisata {
  padding: 15px;
}

#sc2-pariwisata {
  padding: 15px;
}

#sc3-pariwisata {
  padding: 15px;
}

.thumbnail-kategori-par {
  z-index: 1;
  height: 250px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-title-kategori-par {
    position: absolute;
    text-align: left;
    color: #fff;
    left: 7%;
    bottom: 10%;
    width: 80%;
}

.judul-kategori-par {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.judul-kategori-par:hover {
  font-weight: bold;
  font-size: 16px;
  color: rgb(233, 247, 34);
  text-decoration: none
}

.overlay-kategori-par {
    width: 100%;
    height: 250px;
    background: rgba(0,0,0,.1);
}

/***** 3 *****/

.thumbnail-kategori-par3 {
  z-index: 1;
  height: 250px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-title-kategori-par3 {
    position: absolute;
    text-align: left;
    color: #fff;
    left: 7%;
    bottom: 57%;
    width: 80%;
}

.judul-kategori-par3 {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.judul-kategori-par3:hover {
  font-weight: bold;
  font-size: 16px;
  color: rgb(233, 247, 34);
  text-decoration: none
}

.overlay-kategori-par3 {
    width: 100%;
    height: 250px;
    background: rgba(0,0,0,.1);
}

/***** Pendidikan *****/

.kategori-container-pend {
}

#sc1-pend {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 18px;
  margin-bottom: 30px;
}

#sc3-pend {
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 30px; 
}

.sc2-pendidikan {
  padding: 25px;
  margin-bottom: 30px;
  background-color: rgb(233, 247, 34);
}

.thumbnail-kategori-pend {
  z-index: 1;
  height: 400px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-title-kategori-pend {
    position: absolute;
    text-align: left;
    color: #fff;
    left: 7%;
    bottom: 8%;
    width: 80%;
}

.judul-kategori-pend {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.judul-kategori-pend:hover {
  font-weight: bold;
  font-size: 20px;
  color: rgb(233, 247, 34);
  text-decoration: none
}

.overlay-kategori-pend {
    width: 100%;
    height: 400px;
    background: rgba(0,0,0,.1);
}

/****** POLITIK **********/
/****** POLITIK **********/
/****** POLITIK **********/
/****** POLITIK **********/
/****** POLITIK **********/

#sc1-pol {
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
}

.sc-1pol {
  padding: 10px;
}

.sc2-pol {
  padding-right: 30px;
  padding-left: 30px; 
}

.sc3-pol {
  padding-right: 30px;
  padding-left: 30px; 
}

.iklan-pol {
  text-align: center;
  height: 120px;
  background-color: rgb(226, 226, 226);
  margin-top: 20px;
}

.thumbnail-kategori-pol {
  z-index: 1;
  height: 400px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.thumbnail-kategori-pol3 {
  z-index: 1;
  height: 450px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-title-kategori-pol3 {
    position: absolute;
    text-align: left;
    color: #fff;
    left: 7%;
    bottom: 8%;
    width: 80%;
}

.judul-kategori-pol3 {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.judul-kategori-pol3:hover {
  font-weight: bold;
  font-size: 20px;
  color: rgb(233, 247, 34);
  text-decoration: none
}

.overlay-kategori-pol3 {
    width: 100%;
    height: 450px;
    background: rgba(0,0,0,.1);
}

.rm-button {
  padding: 10px;
  width: 100px;
  text-align: center;
  background-color: rgb(156, 29, 136);
  color: #fff;
  text-decoration: none;
  color: #fff;
}

.rm-button:hover {
  text-decoration: none;
  color: rgb(233, 247, 34);
}

/**** HUKUM *****/

.thumbnail-kategori-huk {
  z-index: 1;
  height: 400px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.sc-1huk {
  padding: 10px;
  text-align: right;
}

.iklan-huk {
  height: 250px;
  padding: 25px;
  text-align: center;
  margin-bottom: 30px;
  background-color: rgb(226, 226, 226);
}

.rm-button-huk {
  padding: 10px;
  width: 100px;
  text-align: right;
  background-color: rgb(156, 29, 136);
  color: #fff;
  text-decoration: none;
}

.rm-button-huk:hover {
  text-decoration: none;
  color: rgb(233, 247, 34);
}

.rm-button-huk2 {
  padding: 10px;
  margin-bottom: 40px;
  text-align: center;
  background-color: transparent;
}

.rm-button-huk2 a {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ebebeb;
  color: #363636;
  text-decoration: none;
}

.rm-button-huk2 a:hover {
  text-decoration: none;
  color: rgb(156, 29, 136);
}

.tampilan-profile {
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 16px;

}
